*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#fondo{
    background-color:rgb(209, 247, 255);
}

header h1{
    color: black;
    padding: 20px;
    text-decoration: underline;
}

nav li{
    display: block;
    margin-top: 15px;
   
}
nav a{
    display: block;
    padding: 10px;
    margin: 0px;
    border: solid 1px black;
    width: auto;
    padding-left: 20px;
    border-radius: 15px;
    color: black;
    text-align: center;
    margin-bottom: 20px; 
}

main section article h2{
    font-size: 30px;
    border: solid 2px rgb(131, 197, 213);
    background-color: rgb(253, 253, 253);
    color: rgb(62, 157, 176);
}

main section article div:nth-child(2) h3{
    border: solid 2px rgb(131, 197, 213);
    background-color: rgb(253, 253, 253);
    color: rgb(62, 157, 176);
    padding: 4px;
    font-size: 20px;
}

main section article div{
    width: auto;
    max-width: 1000px;
    min-width: 320px;
    margin: 5px;
}
img{
    width: 100%;

}

main section article div:nth-child(3) h3{
    border: solid 2px rgb(131, 197, 213);
    background-color: rgb(253, 253, 253);
    color: rgb(62, 157, 176);
    padding: 4px;
    font-size: 20px; 
}

main section article div:nth-child(4) h3{
    border: solid 2px rgb(131, 197, 213);
    background-color: rgb(253, 253, 253);
    color: rgb(62, 157, 176);
    padding: 4px;
    font-size: 20px; 
}

footer h4{
    display: flex;
    font-size: 17px;
    margin-bottom: 8px;
    margin-top: 20px;
    justify-content: center;
    display: grid;
}

main h3{
    padding: 10px;
    margin: 50px 2px 50px 2px;
}

main form fieldset{
    margin: 10px;
    padding: 20px;
    line-height: 35px;
}
main h4{
    font-size:15px;
    padding: 10px;
    margin: 5px;
}

main section article div.flex-fotos{
    width: auto;
    max-width: 1000px;
    min-width: 320px;
    margin: 5px;
}